.navigation-page {
  text-align: center;
  margin-top: 50px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navigation-button {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.h1-home {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}