.user-config-page {
  display: grid;
  justify-content: center;
  text-align: center;
}

.user-details {
  gap: 15px;
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}

.pagination-controls > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination-controls select {
  margin-left: 10px;
}
